{% extends 'base.html' %}

{% block nomelista %}
   Lista de veiculos
{% endblock %}


{% block body %}

<table class="table">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome do Veículo</th>
      <th scope="col">Cor</th>
      <th scope="col">Concessionária</th>
    </tr>
  </thead>

  <tbody>

    {% for v in veiculos %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ v.nome }}</td>
          <td>{{ v.cor }}</td>
          <td>{{ v.concessionaria }}</td>
        </tr>
    {% endfor %}

  </tbody>
</table>

<a type="button" href="{% url 'concessionaria' %}" class="btn btn-primary">Ver concessionárias</a>


<br>
<br>
<br>
<br>

<p>{ % % } -> tag de processamento </p>
<p>{ { } } -> variavel da view</p>
<p>{ # # } -> comentários </p>


{% endblock %}



